.theme {
    font-family: 'Quicksand', sans-serif; 
    color: #666 ;
    background-color: #DAE0E6;
  }
  

.container{
      width:750px;
      
      margin: 20px auto;
      padding:20px;
      
  }
  tr
  {
    text-align: center;
  }
.clr{
      clear: both;
  }
nav .navbar-nav
  {
      padding-left: 30%;
  }
ul{
      padding:0;
      margin:0;
  }
  
h1,h2,h3,p{
      padding:5px 0;
      margin-bottom:0;
  }
  
p{
      margin:0;
  }
  
  
.meta{
      padding-left:20px;
      border:1px solid white;
      background: white;
      margin-bottom:10px;
  }

input, select, textarea{
      margin-bottom:15px;
  }
  
label{
      display:inline-block;
      width:180px;
  }
  
input[type='text'], select, textarea{
      padding:3px;
      height:20px;
      width:200px;
      border:1px #ccc solid;
  }
  
select{
      height:28px;
  }
  
textarea{
      height:70px;
      width:400px;
  }
ul.success li{
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
      list-style: none;
  }
